<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igreen.domain.mapper.TemplateMapper">

    <resultMap id="BaseResultMap" type="com.igreen.domain.entity.Template">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="type" column="type"/>
        <result property="country" column="country"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, type, country, created_at, updated_at
    </sql>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM templates
        WHERE name = #{name}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(*)
        FROM templates
        WHERE name = #{name}
    </select>

</mapper>
