<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igreen.domain.mapper.TemplateStepMapper">

    <resultMap id="BaseResultMap" type="com.igreen.domain.entity.TemplateStep">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="order" column="order"/>
        <result property="templateId" column="template_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, `order`, template_id
    </sql>

    <select id="selectByTemplateIdOrderByOrderAsc" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM template_steps
        WHERE template_id = #{templateId}
        ORDER BY `order` ASC
    </select>

</mapper>
